@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
* {
      margin: 0;
      padding: 0;
    }
  
    body {
      font-family: 'Tektur', cursive;
       background-image: linear-gradient(to bottom right, black, #Cfff04) width:100% height:100%;
      margin: 0; /* Reset default margin */
          background-size: 100% 100%;
       background-repeat: no-repeat;
      }
