@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
* {
      margin: 0;
      padding: 0;
    }
  
    body {
      font-family: 'Tektur', cursive;
      background-color: #ffff;
      background-image: linear-gradient(to bottom right, black, #Cfff04,);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      }
