
iframe {
  border: solid white 30px;
  border-radius:30px;
  object-align: center;
  position:fixed; 
  top:70; 
  left:35; 
  bottom:35; 
  right:35; 
  width:90%; 
  height:90%; 
  border:none; 
  margin:0; 
  padding:0; 
  overflow:hidden; 
  z-index:999999;
}
