.nav-click{
    text-align: center;
  color: #ffffff; 
  padding: 10px 24px; 
  cursor: pointer; 
  width: 50%; 
  display: inline; 
  text-align:center;
  font-size: 2rem;
  }
      
.nav-click-rounded{
border-radius: 20px;
} 
     .nav-on {
    border: soild white 5px;
    padding: 10px 24px; 
    cursor: pointer; 
    width: 50%; 
    display:inline; 
    text-align:center;
    font-size: 2rem;
    top: 50px;
      }
